.deliver-point-container {
    border: 1px black solid;
    padding: 50px;
    margin: 128px;
}

select {
    width: 100%;
    margin-bottom:20px
}

input {
    width: 100%;
    margin-bottom:20px
}

button {
    width: 100%;
    
}