<div class="header">
    <select class="select-input" name="selectedBoard" [(ngModel)]="selectedBoard" (ngModelChange)="setBoard(selectedBoard)">
        <option *ngFor="let board of boards" [ngValue]="board">{{board.boardname}}</option>
    </select>
    <a *ngIf="isLoggedin" routerLink="/boardCreate">Board Create</a>
    <a *ngIf="isLoggedin" routerLink="/deliverPoint">Deliver Point</a>
    <a *ngIf="!isLoggedin" routerLink="/writerLogin">Login</a>
    <a *ngIf="!isLoggedin" routerLink="/writerRegister">Register</a>
    
    <span *ngIf="isLoggedin">Username: {{username}}</span>
    <span *ngIf="isLoggedin">Point: {{point}}</span>
    <a *ngIf="isLoggedin" (click)="logout()">Logout</a>
</div>