<div class="document-container" *ngIf="isShowDocumentView">
    <div class="document-header">
        <h1 class="document-name">{{document.documentname}}</h1>
        <div class="buttons">
            <button (click)="editDocument()">Edit</button>
            <button (click)="deleteDocument()">Delete</button>
        </div>
    </div>
    <div class="content">{{document.content}}</div>
</div>
<div *ngIf="isShowDocumentEdit">
    <app-document-edit [document]="document"></app-document-edit>
</div>
<div class="comment-container">
    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
</div>
<div class="comment-create-container">
    <app-comment-create [document]="document"></app-comment-create>
</div>