.document-container {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-bottom: 200px;
}

.document-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid #ddd;
}

.buttons {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}